
/*service-grid*/
.services-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 30px 0px;
}


/*service-card*/

.service-card{
    border-top: 5px solid #764ba2;
    box-shadow: 5px 5px 8px black;
    border-radius: 8px;
    
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-image: linear-gradient(to bottom right, #9eb0ff, #d6adfc);
    color: #333;
}

header {
    background-color: #667eea;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    background: #764ba2;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

.service-card {
    background: white;
    flex: 1 1 300px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: white;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #764ba2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.hero-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #667eea;
    color: white;
    margin-top: 40px;
}